#tsparticles canvas {
  height: 0;
  width: 0;
}

#tsparticles {
  height: 0;
  width: 0;
}

.aaa {
  position: absolute;
}

.aaaa {
  position: static;
}

.messenger {
  position: static;
  bottom: 10px;
}